body { 
    background-image:url('UIUC-ECE-07.jpg');
    background-origin: content-box;
    background-position: center;
    background-size: contain;
}

h1 { 
    color: white;
    font-weight: bold;
}

p {
    color: white;
}